<div class="fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm" style="background-color: #0f1c2c;">
    <h5 class="my-0 mr-md-auto font-weight-normal smalltitle" style="font-size: 30px; color: white;">{{ app_name }}</h5>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 smalltitle" href="{% url 'dashboard' %}" style="color: white;">Dashboard</a>
        <a class="p-2 smalltitle" href="{% url 'settings' %}" style="color: white;">Settings</a>
{#        <a class="p-2 smalltitle" href="" style="color: white;">Search</a>#}
{#        <a class="p-2 smalltitle" href="" style="color: white;">Dashboard</a>#}
    </nav>
   <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
</div>
