
<footer class="footer p-2" style="">
    <div class="container" style="">
        <div class="row">

            <div class="col-12 text-center " style="">
                <div class="mx-auto col-lg-6 col-sm-12 col-12 p-1">
                    <div class="row">
                        <div class="col-12">
                            <a class="text-center" style="color: white;" href="{% url 'terms' %}">Terms of Use</a>
                            <span>|</span>
                            <a class="text-center" style="color: white;" target="_blank" href="https://corporate.walmart.com/privacy-security/walmart-associate-information-privacy-policy">Privacy Policy</a>
                    </div>
                </div>
            </div>


            <div class="col-12 text-center" style="">
                <span class="col-4" style="">© 2020 Walmart Global Tech</span>
            </div>

        </div>
    </div>
</footer>

