{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="container-fluid" style="padding-top: 100px; padding-bottom: 30px;">
        <!--Title-->
        <div class="row">
            <h1 class="col-lg-12 col-sm-12 text-center title wmblue" style="">{{ title }}</h1>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-8" style="">
                <p class="smalltitle">
                    By providing your phone number, you are enrolling in the Walmart Inc. (“Walmart”)
                    Tech Bar Curbside Check-in text message program and agreeing to the following Terms
                    and Conditions: When you enroll, you certify that A) you are the account holder and
                    consent to enroll or have account holder's consent to enroll and B) you are age 18 or older.
                    When you provide your phone number you will receive two text messages relating to status of your check-in.
                    There is no charge from Walmart for this service, but YOUR SERVICE PROVIDER'S MESSAGE AND DATA RATES MAY APPLY.
                    The texts will be sent via automated technology. For help, text HELP to ####, call ####### or contacting us at
                    Walmart Corporate, Privacy Office, MS #0160 702 SW 8th Street, Bentonville, AR 72716-0160. To opt-out,
                    text STOP to #####. Participating carriers include T-Mobile®️, Verizon Wireless, AT&T, Sprint, Boost,
                    U.S. Cellular®️, MetroPCS, Virgin Mobile, and Cricket. Walmart and participating carriers are not liable for
                    delayed or undelivered messages. Product is not compatible with all cell phone models. You can access our
                    Privacy Policy by clicking on the "Privacy" link at the bottom of the page.
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}

